/*
	Ex Machina by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		background: #5A4640;
	}

	body,input,textarea,select
	{
		font-size: 11pt;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 6em 0em;
	}

	.homepage #banner
	{
		padding: 12em 0em;
	}
	
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#page
	{
		padding: 2em 0em 6em 0em;
	}
	
	.homepage #page
	{
		padding: 6em 0em;
	}

	#main
	{
		margin-top: 3em;
		padding-top: 2em;
		border-top: none;
	}
	
	.homepage #main
	{
		margin-top: 6em;
		padding-top: 6em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		padding: 0em 0em 4em 0em;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
	
	#featured
	{
		padding: 4em 0em;
	}

	
	#featured .divider
	{
		padding: 2em 0em;
	}
	
/*********************************************************************************/
/* Equipped Grid View                                                            */
/*********************************************************************************/  

.graphics {
	display: grid;
	grid-template-columns: repeat(4, 40px);
	grid-auto-flow: row;
	width:100%;
	grid-template-columns: 120px 70px 120px 70px;
  }

  .head {
	grid-column: 2;
	grid-row: 1;
  }
  .chest { 
	grid-column: 2;
	grid-row: 2;
  }
  .gloves {
	grid-column: 2;
	grid-row: 3;
  }
  .feet {
	grid-column: 2;
	grid-row: 4;
  }
  .Main_hand {
	grid-column: 2;
	grid-row: 5;
  }
  .amulet {
	grid-column: 4;
	grid-row: 1;
  }
  .ring {
	grid-column: 4;
	grid-row: 2;
  }
  .talisman {
	grid-column: 4;
	grid-row: 3;
  }
  .mark_placeholder {
	grid-column: 4;
	grid-row: 4;
  }
  .Off_hand {
	grid-column: 4;
	grid-row: 5;
  }
  .head_txt {
	grid-column: 1;
	grid-row: 1;
  }
  .chest_txt { 
	grid-column: 1;
	grid-row: 2;
  }
  .gloves_txt {
	grid-column: 1;
	grid-row: 3;
  }
  .feet_txt {
	grid-column: 1;
	grid-row: 4;
  }
  .Main_hand_txt {
	grid-column: 1;
	grid-row: 5;
  }
  .amulet_txt {
	grid-column: 3;
	grid-row: 1;
  }
  .ring_txt {
	grid-column: 3;
	grid-row: 2;
  }
  .talisman_txt {
	grid-column: 3;
	grid-row: 3;
  }
  .mark_placeholder_txt {
	grid-column: 3;
	grid-row: 4;
  }
  .Off_hand_txt {
	grid-column: 3;
	grid-row: 5;
  }
  .sortable {
	grid-column: 1 / 4;
	grid-row: 6;
	}
	
/*********************************************************************************/
/* Optimized Grid View                                                            */
/*********************************************************************************/  

.opti_grid {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	grid-auto-flow: row;
	width:100%;
	grid-template-columns: 220px 220px 220px;
  }

	.t_title {
		grid-column: 1;
		grid-row: 1;
		text-align: center;
		background-color: rgb(42, 38, 38);
		color:#f6f0f0;
	}
  .t_helm_equip {
	grid-column: 1;
	grid-row: 2;
  }
  .t_chest_equip { 
	grid-column: 1;
	grid-row: 3;
  }
  .t_glove_equip {
	grid-column: 1;
	grid-row: 4;
  }
  .t_feet_equip {
	grid-column: 1;
	grid-row: 5;
  }
  .t_neck_equip {
	grid-column: 1;
	grid-row: 6;
  }
  .t_ring_equip {
	grid-column: 1;
	grid-row: 7;
  }
  .t_talisman_equip {
	grid-column: 1;
	grid-row: 8;
	}
	.w_title {
		grid-column: 2;
		grid-row: 1;
		text-align: center;
		background-color: rgb(42, 38, 38);
		color:#f6f0f0;
	}
  .w_helm_equip {
	grid-column: 2;
	grid-row: 2;
  }
  .w_chest_equip { 
	grid-column: 2;
	grid-row: 3;
  }
  .w_glove_equip {
	grid-column: 2;
	grid-row: 4;
  }
  .w_feet_equip {
	grid-column: 2;
	grid-row: 5;
  }
  .w_neck_equip {
	grid-column: 2;
	grid-row: 6;
  }
  .w_ring_equip {
	grid-column: 2;
	grid-row: 7;
  }
  .w_talisman_equip {
	grid-column: 2;
	grid-row: 8;
  }
  .m_title {
		grid-column: 3;
		grid-row: 1;
		text-align: center;
		background-color: rgb(42, 38, 38);
		color:#f6f0f0;
	}
  .m_helm_equip {
	grid-column: 3;
	grid-row: 2;
  }
  .m_chest_equip { 
	grid-column: 3;
	grid-row: 3;
  }
  .m_glove_equip {
	grid-column: 3;
	grid-row: 4;
  }
  .m_feet_equip {
	grid-column: 3;
	grid-row: 5;
  }
  .m_neck_equip {
	grid-column: 3;
	grid-row: 6;
  }
  .m_ring_equip {
	grid-column: 3;
	grid-row: 7;
  }
  .m_talisman_equip {
	grid-column: 3;
	grid-row: 8;
  }